body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 20px;
    background-color: #0099cc;
    color: #fff;
    font-size: 18px;
    line-height: 100px;
    text-decoration: none;
    border-radius: 5px;
}

#disculpa{
    padding-top: 10px;
}